@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");

body{
  font-family: 'Roboto';
  font-size: 18px;
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
}

.card {
  margin: 5px;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.card img{
  border-radius: 20%;
}

.card h3 {
  padding: 10px;
  flex-grow: 1;
  padding-left: 20px;
}